<div class="hm-message {{key}}">
    <span>
         {{characterName}} {{verb}} {{amount}} {{noun}}
    </span>
    {{#if showRes}}
    <div>
        {{localize "healthMonitor.chatMessage.Immunity"}}: {{immunity}}
    </div>
    <div>
        {{localize "healthMonitor.chatMessage.Resistance"}}: {{resistance}}
    </div>
    <div>
        {{localize "healthMonitor.chatMessage.Vulnerability"}}: {{vulnerability}}
    </div>
    {{/if}}
</div>