<div class="hm-message {{css}}">
    <span>
        {{#if damage}}
        {{characterName}} {{healsTakes}} {{delta}} {{localize "healthMonitor.chatMessage.damage"}}
        {{else}}
        {{characterName}} {{gainsLoses}} {{delta}} {{localize "healthMonitor.chatMessage.maxHP"}}
        {{/if}}
    </span>
    {{#if showRes}}
    <div>
        {{localize "healthMonitor.chatMessage.Immunity"}}: {{immunity}}
    </div>
    <div>
        {{localize "healthMonitor.chatMessage.Resistance"}}: {{resistance}}
    </div>
    <div>
        {{localize "healthMonitor.chatMessage.Vulnerability"}}: {{vulnerability}}
    </div>
    {{/if}}
</div>